POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB=prisma
# POSTGRES_HOST=postgres
POSTGRES_HOST=localhost
POSTGRES_PORT=5434
POSTGRES_SCHEMA=prisma
DATABASE_URL=postgresql://${POSTGRES_USER}:${POSTGRES_PASSWORD}@${DB_HOST}:${DB_PORT}

JWT_ACCESS_SECRET=nestjsPrismaAccessSecret
JWT_REFRESH_SECRET=nestjsPrismaRefreshSecret


MINIO_HOST=165.232.95.114
MINIO_PORT=9000
MINIO_ACCESS_KEY=minio_test
MINIO_SECRET_KEY=password123